---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgCZjyeSkB4ap9zDFTJ7gL2bBakIcyNP+b5bxs3Z85L4o9e87F0CDHW1SW4CBIMiemR5cczFemTcZXdCKxhOC+uTGEu1b4yWR1Iho1tjRwjZC2Clis9XULjr4CDmdWEi2tuv82zdeMIYO2E7Qse6JtrTccBKpNiidaMatAIiLbvnyVwjp2LDsFr5vLUeIwxbJ8iEGyZz9M+/+90dSwk5tmwiPlPqjqqM9u5o1GJXe2Xu4sPoHsu6ooqWzUwrsOGSsM5s8iAYDy3xCG1iq/qwokIgFuOtosD2NLHJSQtG2BhxM2uXKh607W4I5FO2tgZDY2E0ZpyqrZl1IE0ng094WNFpjgUdf8zMwRQyUavQvOOms4iNUCMMuu+S1I9v+urM2+mfWTView5SruuHmIy3uVPoEhZyfFRcCIfSwLzw/sHzD3V4h13/L93Lf069nE0FRjaFx+kIsL+ev5H8iWsZwOfpkSSiK0JZkrT0OuPKnCpFMW6EgeHa2hQhmNpCVfuQmtTtmvN6AuB7gn3k3oMw68gfZCx68GrMxDJV9v/7s5XUf/csKzr5epDIR+qaNTcfW7Umq5fmNuMORgTDXclMHHDifmYPtljjtvqhl07RKisd55tRBvWzAhgbCDhsi6ZE+ZpHH08P+9wXSQSwGLDRUYHyDtxq+I1IPagLSRf+Rr0ck2JBOStH7FKAN66U+wXp6UM1uwhuu5IOOESpVsrH92wP37+sGhiAe+aAwbBe53px9L2lo3Jj+rn1O+WN5V9o5T7ESLw0zTHRAUWdMx5ds5ZpuS3mG/kK2O9W6OEe+uGVbpsSImBEUG15KQYR3uPVj60QKFtmSQdJXKZjDcFdLK5HQ0KFCQURZHUKyoF63yGthm/zZvwDSyyISoYFlizQEAm1N3K3cEKpxJAM36ztt42Vaztu4uqsal5g/j0wmDk+g3I90mM4Ilws4Q==
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
