---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  target:
    name: proxmox-csi-plugin
    creationPolicy: Owner
    template:
      type: Opaque
      data:
        config.yaml: |
          clusters:
          - url: "https://192.168.20.110:8006/api2/json"
            insecure: true
            token_id: "homelab-k8s-csi@pve!k8s-csi"
            token_secret: {{ trimPrefix "homelab-k8s-csi@pve!k8s-csi=" .token | quote }}
            region: homelab
  data:
    - secretKey: token
      remoteRef:
        key: pmx-k8s-csi-user-token