---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: pangolin
  namespace: pangolin
spec:
  dependsOn:
    - name: external-secrets
      namespace: external-secrets
  targetNamespace: pangolin
  interval: 30m
  timeout: 5m
  path: ./kubernetes/system/pangolin
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false