apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
  namespace: reloader
spec:
  interval: 1h
  chart:
    spec:
      chart: reloader
      version: 2.2.8
      sourceRef:
        kind: HelmRepository
        name: reloader
        namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    reloader:
      resources:
        limits:
          memory: 100Mi
        requests:
          cpu: 5m
          memory: 50Mi