---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cnpg
  namespace: cnpg-system
spec:
  interval: 1h
  chart:
    spec:
      chart: cloudnative-pg
      version: '0.27.0'
      sourceRef:
        kind: HelmRepository
        name: cnpg
        namespace: cnpg-system
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    monitoring:
      podMonitorEnabled: true
      podMonitorAdditionalLabels:
        release: homelab
    resources:
      requests:
        cpu: 5m
        memory: 50Mi
      limits:
        memory: 200Mi