---
apiVersion: v1
kind: ConfigMap
metadata:
  name: adguard-default-config
  namespace: adguard
data:
  AdGuardHome.yaml: |
    users: []
    auth_attempts: 5
    block_auth_min: 15
    theme: auto
    dns:
      ratelimit: 20
      upstream_dns:
        - 1.1.1.1
      fallback_dns:
        - 8.8.8.8
      upstream_mode: load_balance
    tls:
      enabled: false
    querylog:
      interval: 168h
      size_memory: 1000
      enabled: true
      file_enabled: true
    statistics:
      interval: 24h
      enabled: true
    filters:
      - enabled: true
        url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_1.txt
        name: AdGuard DNS filter
        id: 1
      - enabled: false
        url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_2.txt
        name: AdAway Default Blocklist
        id: 2
    filtering:
      blocking_mode: default
      parental_block_host: family-block.dns.adguard.com
      safebrowsing_block_host: standard-block.dns.adguard.com
      safebrowsing_cache_size: 1048576
      safesearch_cache_size: 1048576
      parental_cache_size: 1048576
      cache_time: 30
      filters_update_interval: 24
      blocked_response_ttl: 10
      filtering_enabled: true
      parental_enabled: false
      safebrowsing_enabled: false
      protection_enabled: true
      rewrites:
        - domain: adguard.local
          answer: 192.168.0.121
    log:
      enabled: true
      max_size: 100
      max_age: 3
      compress: false
      local_time: true
      verbose: false