---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: fluxcd-configs
  namespace: flux-system
spec:
  dependsOn:
    - name: external-secrets
      namespace: external-secrets
  targetNamespace: flux-system
  interval: 30m
  timeout: 5m
  path: ./kubernetes/system/fluxcd-configs
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false