---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: fluxcd-slack-token
  namespace: flux-system
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  target:
    name: fluxcd-slack-token
    creationPolicy: Owner
  data:
    - secretKey: token
      remoteRef:
        key: "fluxcd-slack-token"