---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-operator
  namespace: monitoring
spec:
  chartRef:
    kind: OCIRepository
    name: grafana-operator
    namespace: flux-system
  interval: 1h
  values:
    resources:
      requests:
        memory: 50Mi
        cpu: 5m
      limits:
        memory: 100Mi
