namespace: karakeep

configMapGenerator:
  - envs:
      - .config
    name: karakeep-configuration

labels:
  - pairs:
      homelab.imkavin.dev/app: karakeep
    includeSelectors: false

resources:
  - secret.yaml
  - web.yaml
  - chrome.yaml
  - meilisearch.yaml
  - pvc.yaml

replacements:
  - source:
      fieldPath: data.KARAKEEP_VERSION
      kind: ConfigMap
      name: karakeep-configuration
      version: v1
    targets:
      - fieldPaths:
          - spec.template.spec.containers.0.image
        options:
          delimiter: ":"
          index: 1
        select:
          group: apps
          kind: Deployment
          name: web
          version: v1
