---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-pvc
spec:
  storageClassName: proxmox-csi-retain
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: meilisearch-pvc
spec:
  storageClassName: proxmox-csi-retain
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi