apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metrics-server
  namespace: kube-system
spec:
  interval: 1h
  chart:
    spec:
      chart: metrics-server
      version: 3.13.0
      sourceRef:
        kind: HelmRepository
        name: metrics-server
        namespace: kube-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    apiService:
      insecureSkipTLSVerify: false
    tls:
      type: helm
      # TODO: Move to cert-manager once it's deployed
      # type: cert-manager
    resources:
      requests:
        cpu: 100m
        memory: 200Mi
      limits:
        memory: 500Mi