apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kubeseal
  namespace: kubeseal
spec:
  interval: 1h
  chart:
    spec:
      chart: sealed-secrets
      version: 2.17.7
      sourceRef:
        kind: HelmRepository
        name: sealed-secrets
        namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    resources:
      requests:
        cpu: 5m
        memory: 20Mi
      limits:
        memory: 50Mi